@keyframes registryBackdropFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes registryErrorAnim {
  0% {
    margin-left: -30rem;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes registryModalEffect {
  0% {
    opacity: 0;
    margin-right: -60rem;
  }

  100% {
    opacity: 1;
    margin-right: 0;
  }
}

.registry-modal-backdrop {
  animation: registryBackdropFade 600ms;

  position: absolute;

  min-width: 100vw;
  min-height: 100vh;

  top: -152px;
  left: 0;

  background-color: rgba(0, 0, 0, 0.445);

  display: flex;
  justify-content: center;
  align-items: center;
}

.registry {
  animation: registryModalEffect 600ms;

  height: 87.9rem;
  width: 61.1rem;
  border-radius: 2rem;

  background-color: white;

  font-family: 'Rubik', sans-serif;

  padding: 6.2rem 6rem 0 6rem;
}

.registry h2 {
  animation: registryErrorAnim 1000ms;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  left: 0;
  bottom: 50%;

  width: 50rem;
  height: 5rem;

  background-color: #645ffbdb;

  border-radius: 0 3rem 3rem 0;

  font-weight: 700;
  color: white;
}

.registry form {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.registry .title-and-closeIcon img {
  cursor: pointer;
}

.registry .title-and-closeIcon {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5.2rem;
}

.registry form h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.3rem;
}

.registry form input, select {
  height: 6.34rem;
  width: 48.5rem;
  border-radius: 0.5rem;

  border: 1px solid #555555;

  margin-bottom: 2.6rem;

  font-size: 1.8rem;

  padding: 0 2rem;
}

.registry form label {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  margin-bottom: 0.9rem;
}

.registry .registry-types-container {
  margin-bottom: 3.2rem;
}

.registry .registry-types-container button {
  height: 60px;
  width: 245px;

  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: white;
}

.registry .incoming-button {
  background: linear-gradient(to right, #05ede3 10%, #b9b9b9 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 400ms;

  border-radius: 1rem 0 0 1rem;
}

.registry .outgoing-button {
  background: linear-gradient(to right, #fa8c10 10%, #b9b9b9 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: 400ms;

  border-radius: 0 1rem 1rem 0rem;
}

.registry .incoming-button.Incoming {
  background-position: left;
  background: linear-gradient(91.26deg, #05ede3 0%, #3a9ff1 97.77%);
}

.registry .outgoing-button.Outgoing {
  background-position: left;
  background: linear-gradient(91.66deg, #fa8c10 0%, #ff576b 90.32%);
}

.registry-modal-bottom-button button {
  height: 42px;
  width: 236px;
  border-radius: 5px;

  background-color: #645ffb;

  border: none;
  color: white;

  margin-left: 12rem;

  cursor: pointer;

  transition: 400ms;
}

.registry-modal-bottom-button button:hover {
  background-color: #8a70f1;
}
