.resumo {
  display: flex;
  flex-direction: column;

  gap: 15px;
  margin-left: 40px;

  height: 196px;
  width: 236px;
  border-radius: 10px;

  font-family: "Rubik", sans-serif;
}

.container-resume {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;

  background-color: #fafafa;
  box-shadow: 0px 2px 11px 0px #0000001a;
}

.valores-resumo h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  margin-bottom: 13px;
}

.valores-resumo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-bottom: 19px;
  border-bottom: 1px solid #e0e0e0;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

.entradas-resumo {
  display: flex;
  justify-content: space-between;
}

.saidas-resumo {
  display: flex;
  justify-content: space-between;
}

.balanco-resumo {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}

.in {
  color: #645ffb;
}

.out {
  color: #fa8c10;
}

.balance {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;

  color: #3a9ff1;
}

.btn-add {
  all: unset;

  min-height: 42px;
  width: 236px;
  border-radius: 5px;

  background: linear-gradient(91.26deg, #fa8c10 0%, #ff57d3 97.77%);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;

  cursor: pointer;
}

.btn-add:hover {
  background: linear-gradient(91.26deg, #f8aa51 0%, #f384d5 97.77%);
  color: rgb(255, 255, 255);
}
